<nav>
  <section class="logo">
    <% link_to 'index' do %>
      <%= image_tag 'juniorpreneur-logo.jpg' %>
    <% end %>
  </section>

  <section class="navigation">
    <ul>
      <li><%= link_to 'Kick Starter', 'https://www.kickstarter.com/projects/213254513/juniorpreneur-go-beyond-the-lemonade-stand', target: "_blank", class: 'kickstarter-link' %></li><span class="navigation-divider">|</span>
      <li><%= link_to 'The Product', 'product' %></li><span class="navigation-divider">|</span>
      <li><%= link_to 'Learning Program', 'learning' %></li><span class="navigation-divider">|</span>
      <li><%= link_to 'About us', 'connect' %></li>
    </ul>

    <%= partial 'social_buttons' %>

  </section>

  <section class="mobile-logo">
    <% link_to 'index' do %>
      <%= image_tag 'juniorpreneur-logo.jpg' %>
    <% end %>
  </section>
</nav>
