<nav>
  <section class="logo">
    <%= image_tag 'juniorpreneur-logo.jpg' %>
  </section>

  <section class="navigation">
    <%= link_to 'Kick Starter', '#' %> |
    <%= link_to 'The Product', 'product' %> |
    <%= link_to 'Learning Program', '#' %> |
    <%= link_to 'Connect With Us', '#' %>
  </section>
</nav>
