<nav>
  <section class="logo">
    <% link_to 'index' do %>
      <%= image_tag 'juniorpreneur-logo.jpg' %>
    <% end %>
  </section>

  <section class="navigation">
    <%= link_to 'Kick Starter', '#' %> |
    <%= link_to 'The Product', 'product' %> |
    <%= link_to 'Learning Program', 'learning' %> |
    <%= link_to 'Connect With Us', '' %>
  </section>
</nav>
