<nav>
  <section class="logo">
    <% link_to 'index' do %>
      <%= image_tag 'juniorpreneur-logo.jpg' %>
    <% end %>
  </section>

  <section class="navigation">
    <ul>
      <li><%= link_to 'Kick Starter', '#' %></li>
      <li><%= link_to 'The Product', 'product' %></li>
      <li><%= link_to 'Learning Program', 'learning' %></li>
      <li><%= link_to 'Connect With Us', 'connect' %></li>
    </ul>
  </section>

  <section class="mobile-logo">
    <% link_to 'index' do %>
      <%= image_tag 'juniorpreneur-logo.jpg' %>
    <% end %>
  </section>
</nav>
