<section class="contact-header">
  <h1>
    With your help, we can
    revolutionize how tomorrow's
    business leaders are developed
  </h1>
</section>

<section class="contact-form">
  <form>
    <div class="form-group">
      <input type="text" class="half-width" placeholder="FIRST NAME">
      <input type="text" class="half-width" placeholder="LAST NAME">
    </div>

    <div class="form-group">
      <input type="text" class="full-width" placeholder="EMAIL ADDRESS">
    </div>

    <div class="form-group">
      <input type="text" class="half-width" placeholder="MOBILE NUMBER">
      <input type="text" class="half-width" placeholder="COMPANY">
    </div>

    <div class="form-group">
      <input type="text" class="full-width" placeholder="COMMENTS">
    </div>

    <input type="submit">
  </form>
</section>


<section class="thank-you">
  <h1>Thanks for sharing our passion for entrepreneurship</h1>
  <p>
  We are relying heavily on organic marketing and word of mouth to get this
  spread as far as possible. Here are a few ways you can help:
  </p>

  <%= partial 'social_buttons' %>

  <ul>
    <li>
      <%= image_tag 'checkbox.png' %>
      <p>Like/Follow our accounts on social media</p>
    </li>

    <li>
      <%= image_tag 'checkbox.png' %>
      <p>Like, share and retweet our mesages often, especially on launch day - 
      <strong>Oct 2, 2017</strong></p>
    </li>

    <li>
      <%= image_tag 'checkbox.png' %>
      <p>Send a few personal emails (we'll supply some templates)
      to friends or colleagues who share our passion and who you think
      weould be good advocates to help us spread the word.</p>
    </li>

    <li>
      <%= image_tag 'checkbox.png' %>
      <p>After signing up above, we'll be in contact shortly with a few
      interview style questions. If you have some time to send us back
      a response it will help us aggregate some valuable sound bites
      for social media content.</p>
    </li>
  </ul>

</section>
