---
title: Juniorpreneur
---

<section class="splash">
  <h2>
    Juniorpreneur is the world's first modular storefront - an evolution of
    the classic lemonade stand - that makes it fun and engaging
    for your child to develop life-long <strong>entrepreneurial skills.</strong>
  </h2>

  <h1>
    Go Beyond the Lemonade Stand!
  </h1>

  <%= image_tag 'kickstarter-circle-live.png' %>
</section >

<section class="kickstarter">
<div class="video-container">
  <iframe width="854" height="480" src="https://www.youtube.com/embed/OoNA_BTRivk" frameborder="0" allowfullscreen></iframe>
</div>
<%= link_to 'VISIT OUR KICKSTARTER PAGE', '#', class: 'kickstarter-page-button' %>
</section>

<section class="features">
  <figure>
    <%= image_tag 'simple.png' %>
    <figcaption>Simple to<br> assemble</figcaption>
  </figure>

  <figure>
    <%= image_tag 'easy.png' %>
    <figcaption>Easy to<br> customize</figcaption>
  </figure>

  <figure>
    <%= image_tag 'light-weight.png' %>
    <figcaption>Light<br> weight</figcaption>
  </figure>

  <p>
  The kit comes with our <strong>six-module learning program</strong> to guide your junior
  entrepreneur through the basics of building a business plan, setting goals, creating
  a brand, experimenting with marketing and tracking their progress.
  </p>

  <%= link_to 'DOWNLOAD OUR FREE PROGRAM PRIMER', 'juniorpreneur-primer.zip' %>
  <small>and get a taste of what the Juniorpreneur cirriculum is all about!</small>
</section>

<section class="benefit">
  <figure>
    <%= image_tag 'natural-entrepreneur.jpg' %>
  </figure>

  <p>
  Juniorpreneur lets your child harness their natural entrepreneurial spirit, while
  gaining invaluable experience through the Juniorpreneur learning program.
  </p>

  <strong>
    Your child will learn skills typically 
    overlooked by traditional school curriculum:
  </strong>

  <div class="benefit-list-container">
  <% data.benefits.each_slice(4) do |benefit_list| %>
    <ul>
      <% benefit_list.each do |benefit| %>
        <li><%= image_tag 'checkbox.png' %><h2><%= benefit %><h2></li>
      <% end %>
    </ul>
  <% end %>
  </div>

  <figure>
    <%= image_tag 'natural-entrepreneur-2.jpg' %>
  </figure>
</section>

<section class="benefit-2">
  <h1>And it's not just for lemonade.</h1>
  <h2>Your child can get as creative as they like -<br>
  the JUNIORPreneur storefront is up to the task!</h2>

  <section class="grid">
    <% data.grid.each do |item| %>
      <article class="grid-item">
        <h3><%= item %></h3>
      </article>
    <% end %>
  </section>
</section>

<section class="kickstarter-2">
  <article class="kickstarter-2__link" %>
    <%= image_tag 'kickstarter-circle-live.png' %>
    <% link_to '#' do %>
      <div>
        <h1>Support us on Kickstarter:</h1>
        <h1>$119.95 CAD - Save 30%</h1>
      </div>
    <% end %>
    <%= image_tag 'kickstarter-circle-live.png' %>
  </article>

  <p>Includes one year membership to our learning program</p>
</section>

<section class="quote">
  <h2>The best investment we can make is into our kids...after all,</h2>
  <h1>today's Juniorpreneurs are tomorrow's</h1>
  <h1>visionaries, innovators, and leaders!</h2>
</section>

<section class="logo-section">
  <%= image_tag 'juniorpreneur-logo.jpg' %>
</section>

<%= javascript_include_tag "site" %>
