---
title: Juniorpreneur
---

<nav>
  <section class="logo">
    <%= image_tag 'logo.png' %>
  </section>

  <section class="navigation">
    <%= link_to 'Kick Starter', '#' %> |
    <%= link_to 'The Product', '#' %> |
    <%= link_to 'Learning Program', '#' %> |
    <%= link_to 'Connect With Us', '#' %>
  </section>
</nav>

<section class="splash">
  <h2>
    JuniorPreneur is the world's first modular storefront - an evolution of
    the classic lemonade stand - that makes it fun and engagging
    for your child to develop life-long entrepreneurial skills.
  </h2>

  <h1>
    Go Beyond the Lemonade Stand!
  </h1>
</section >


<section class="kickstarter">
  <h1>GOING LIVE ON</h1>

  <%= image_tag 'KickStarter-logo.png' %>

  <article class="days">
    <header>
      <h1>10</h1>
    </header>

    <h2>Days</h2>
  </article>

  <article class="hours">
    <header>
      <h1>10</h1>
    </header>
    <h2>Hours</h2>
  </article>

  <article class="minutes">
    <header>
      <h1>10</h1>
    </header>
    <h2>Minutes</h2>
  </article>

  <p>SIGN UP HERE</p>
  <p>TO BE THE FIRST TO KNOW ONCE WE'RE LIVE</p>
  <p>(SUPER EARLY-BIRD RATES AVAILABLE!)</p>
</section>


<section class="features">
  <figure>
    <%= image_tag 'light-weight.png' %>
    <figcaption>Light weight</figcaption>
  </figure>

  <figure>
    <%= image_tag 'simple.png' %>
    <figcaption>Simple to assemble</figcaption>
  </figure>

  <figure>
    <%= image_tag 'easy.png' %>
    <figcaption>Easy to customize</figcaption>
  </figure>

  <p>
  The kit comes with our <strong>six-module learning program</strong> to guide your junior
  entrepreneur through the basics of building a business plan, setting goals, creating
  a brand, experrimenting with marketing and tracking their progress.
  </p>

  <%= link_to 'DOWNLOAD MODULE 1 FREE', '#' %>
</section>


<section class="benefit">
  <figure>
    <%= image_tag 'natural-entrepreneur.png' %>
  </figure>

  <p>
  JuniorPreneur lets your child harness their natural entrepreneurial spirit, while
  gaining invaluable experience through the JuniorPreneur learning program.
  </p>

  <strong>
    Your Child will learn skills typically 
    overlooked by traditional school cirriculum:
  </strong>

  <ul>
    <li>Working with money</li>
    <li>Responsibility</li>
    <li>Self discipline</li>
    <li>Creating value for others</li>
  </ul>

  <ul>
    <li>Customer service</li>
    <li>Resiliency & grit</li>
    <li>Innovation</li>
    <li>Leadership</li>
  </ul>
</section>


<section class="benefit-2">
  <h1>And it's not just for lemonade.</h1>
  <h2>Your child can get as creative as they like -</h2>
  <h2>the JUNIORPreneur storefront is up to the task!</h2>

  <section class="grid">
    <% data.grid.each do |item| %>
      <article class="grid-item">
        <h3><%= item %></h3>
      </article>
    <% end %>
  </section>
</section>

<section class="kickstarter-2">
  <p>Over $250 if you bought the parts individually at the store</p>
  <strong>Our Price: $179.95</strong>

  <article class="kickstarter-2__link" %>
    <%= image_tag 'kickstarter-circle.png' %>
    <% link_to '#' do %>
      <div>
        <h1>Support us on Kickstarter:</h1>
        <h1>$119.95 CAD - Save 30%</h1>
      </div>
    <% end %>
    <%= image_tag 'kickstarter-circle.png' %>
  </article>

  <p>(that's approx $90 USD)</p>
  <p>includes all six learning modules</p>
  <small>Plus $15 shipping</small>
</section>

<section class="quote">
  <h2>The best investment we can make is into our kids...after all,</h2>
  <h1>today's JuniorPreneurs are tomorrow's</h1>
  <h1>visionaries, innovators, and leaders!</h2>

  <%= image_tag 'juniorpreneur-logo.png'%>
</section>


